<div class="book-card">
  <div class="book-thumbnail">
    <img src="<%= auhtor.headshot %>" alt="book image" />
  </div>
  <div class="book-info">
    <div class="book-head">
      <h2>Author Name: <%= author.author_name %></h2>
      <h3>Author Birthdate: <%= author.birth_date %></h3>
      <h3>Country: <%= auhtor.birth_country %></h3>
    </div>

    <p class="book-description"><%= book.description %></p>
    <p class="book-release">
      ISBN #: <%= book.ISBN %> / Release date: <%= book.release_date %>
    </p>
  </div>
</div>
